{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{% static "stylesheet.css" %}" type="text/css" />
  </head>
  <body>
    <h1>Hi {{ name }}</h1>
    <h5>Stock Name: {{ stockname }}</h5>

    <div id="chartContainer" style="height: 360px; width: 100%;"></div>

    <script src="{% static 'canvasjs.min.js' %}"></script>
    <script>
      window.onload = function () {
        const rawData = {{ data|safe }};
        const formattedData = rawData.map(point => {
          const dateParts = point.x.split(" ");
          const d = new Date(dateParts[0] + "T" + dateParts[1]); // ISO format

          return {
            x: d,
            y: point.y,
            color: point.y[0] < point.y[3] ? "#77A034" : "#C0504E"
          };
        });

        const chart = new CanvasJS.Chart("chartContainer", {
          theme: "light2",
          exportEnabled: true,
          zoomEnabled: true,
          title: {
            text: "{{ stockname }} Stock Price"
          },
          axisX: {
            crosshair: {
              enabled: true,
              snapToDataPoint: true,
              valueFormatString: "MMM DD, YYYY HH:mm"
            }
          },
          axisY: {
            prefix: "$",
            title: "Price",
            crosshair: {
              enabled: true,
              snapToDataPoint: true,
              valueFormatString: "$#,##0.00"
            }
          },
          data: [{
            type: "candlestick",
            yValueFormatString: "$#,##0.00",
            xValueFormatString: "MMM DD, YYYY HH:mm",
            risingColor: "#77A034",
            fallingColor: "#C0504E",
            dataPoints: formattedData
          }]
        });
        chart.render();
      }
    </script>
  </body>
</html>